@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.nav1 {
    width: 100%;
    height: 40px;
    background-color: #008b97;
    color: rgb(255, 255, 255);
}

.nav1-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 40%;
    margin-right: 80px;
    padding: 7px;
}

.nav1-link {
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
}

.nav1-anchor {
    text-decoration: none;
    color: white;
}

.nav1-anchor:hover {
    color: #ffffff;
    text-decoration: none;
}

.logo {
    margin-top: 15px;
    height: 70px;
    margin-left: 80px;
}

.logo-footer {
    height: 70px;
}

.nav2 {
    margin-top: 0px;
    width: 100%;
    height: 104px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.nav2-list {
    margin-top: -55px;
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
    margin-right: 80px;
    padding: 7px;
}

.nav2-link {
    align-items: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #000000;
    background-color: #eaeaea;
}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 600;
    font-size: 20px;
}

.footer address {
    font-style: normal;
    color: #000000;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #000000;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

@media screen and (min-width: 24.375px) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 646px) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}

.fa-brands {
    margin-top: 30px;
    color: rgb(0, 177, 159);
    margin-left: 30px;
    transform: scale(250%);
}

.fa-facebook {
    color: rgb(0, 177, 159);
    margin-left: 0;
    transform: scale(250%);
}

.video {
    height: 100%;
    width: 100%;
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    z-index: 1;
}

.video-overlay {
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: left;
}

.video-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.play-button {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-top: -100px;
}

.play-button:hover {
    transform: scale(1.2);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown {
    border: 0;
    background-color: transparent;
}

button.nav-dropdown:focus {
    color: #008b97;
    outline: none;
}

.dropdown-menu {
    width: 190px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    padding: 10px;
    margin: 0;
    list-style: none;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    font-size: 16px;
    display: block;
    padding: 10px;
    text-align: left;
}

.dropdown-menu a {
    text-decoration: none;
    color: #212121;
}

.dropdown-menu a:hover {
    text-decoration: none;
    color: #212121;
}

.show {
    display: block;
}

.meetingbutton {
    margin-top: -13px;
    color: #008b97;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: 3px solid;
    border-color: #008b97;
    background-color: transparent;
    border-radius: 30px;
    font-size: 20px;
}

.blob-image {
    -webkit-mask-size: 90%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(Assets/blob.png);
    /* -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwMCAxMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxjbGlwUGF0aCBpZD0iYSI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNODc3IDY3Mi41UTc3NSA4NDUgNTkwLjUgODc3LjV0LTM2Mi41LTY0UTUwIDcxNyAxMDggNTI4dDE4NC0yODhxMTI2LTk5IDMyMC41LTExMlQ4OTMgMzA3LjVxODYgMTkyLjUtMTYgMzY1WiIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNhKSI+PHBhdGggZmlsbD0iIzQ0NGNmNyIgZD0iTTg3NyA2NzIuNVE3NzUgODQ1IDU5MC41IDg3Ny41dC0zNjIuNS02NFE1MCA3MTcgMTA4IDUyOHQxODQtMjg4cTEyNi05OSAzMjAuNS0xMTJUODkzIDMwNy41cTg2IDE5Mi41LTE2IDM2NVoiLz48L2c+PC9zdmc+); */
}

.blob-bg {
    height: 200px;
    margin-left: -700px;
}

.dir-img {
    margin-left: -300px;
}

img.blob-image {
    display: block;
    margin: 0 auto;
    height: 400px;
}

.school-blob-img {
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(Assets/blob.png);
    /* -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwMCAxMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxjbGlwUGF0aCBpZD0iYSI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNODc3IDY3Mi41UTc3NSA4NDUgNTkwLjUgODc3LjV0LTM2Mi41LTY0UTUwIDcxNyAxMDggNTI4dDE4NC0yODhxMTI2LTk5IDMyMC41LTExMlQ4OTMgMzA3LjVxODYgMTkyLjUtMTYgMzY1WiIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNhKSI+PHBhdGggZmlsbD0iIzQ0NGNmNyIgZD0iTTg3NyA2NzIuNVE3NzUgODQ1IDU5MC41IDg3Ny41dC0zNjIuNS02NFE1MCA3MTcgMTA4IDUyOHQxODQtMjg4cTEyNi05OSAzMjAuNS0xMTJUODkzIDMwNy41cTg2IDE5Mi41LTE2IDM2NVoiLz48L2c+PC9zdmc+); */
}

.school-blob-1 {
    margin-top: -800px;
    margin-left: 300px;
    height: 200px;
}

.school-blob-2 {
    margin-top: -800px;
    margin-left: 100px;
    height: 200px;
}

.school-img-2 {
    margin-top: 150px;
    margin-left: 50px;
}

.dir-msg-heading {
    color: #008b97;
    font-weight: bold;
    font-size: 40px;
}

.quote-icon {
    height: 38px;
    display: block;
    margin: auto;
}

.white-card {
    border-radius: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.313);
    height: 640px;
    width: 600px;
    padding: 64px;
}

.white-card-text {
    text-align: center;
}

.white-card-title {
    margin-top: 56px;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: bold;
}

.white-card-main {
    margin: 24px 30px 24px 30px;
    font-size: 24px;
    line-height: 48px;
}

/* .divider {
      border-top: 5px solid #EE6C34;
      border-color: #EE6C34;
      width: 60px;
  } */

.divider {
    border-top: 4px solid;
    border-color: #ee6c34;
    width: 80px;
    opacity: 1;
}

.divider-2 {
    border-top: 4px solid;
    border-color: #008b97;
    width: 56px;
    opacity: 1;
}

.section-learn-more {
    margin-top: 40px;
}

.section-cover-img-1 {
    margin-top: 80px;
}

.section-compare {
    margin-top: 160px;
}

.section-arrange-meeting {
    margin-top: 160px;
    margin-bottom: 100px;
}

.section-dir-msg{
    margin-top: 165px;
}

.section-mission-vision{
    margin-top: 160px;
}

.section-two-blobs{
    margin-top: -60px;
}

.section-par-test{
    margin-top: 100px;
}

.learn-button {
    /* height: 38px;
    width: 237px; */
    padding: 14px 40px 14px 40px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 30px;
    border: solid;
    border-color: #000000;
    font-weight: semibold;
    font-size: 16px;
}

.get-closer {
    padding: 0px 200px 0px 200px;
}

.cover-img {
    width: 100%;
    height: 344px;
}

.section-title {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
    color: #008b97;
}

.table-card {
    margin-top: 40px;
    border-radius: 40px;
    background-color: #e5f3f4;
}

.table-col1 {
    margin: 64px 0px 64px 80px;
    padding: 0px 20px 0px 0px;
}

.table-col2 {
    margin: 64px 80px 64px 0px;
    padding: 0px 50px 0px 0px;
}

.meeting-col1 {
    margin: 64px 300px 64px 280px;
}

.col-heading {
    font-size: 32px;
    font-weight: bold;

}

.col-main {
    font-size: 18px;
    line-height: 36px;
}

.compare-table {
    border-radius: 30px;
    padding: 20px 80px 20px 80px;
    background-color: #e5f3f4;
}

.closer-look {
    border-radius: 30px;
    padding: 40px 100px 40px 80px;
    background-color: #fdede7;
}

.table-text {
    font-size: 20px;
    font-weight: normal;
    padding: 0px 10px 0px 10px;
}

.testimonial {
    margin-top: -50px;
    padding: 80px 0;
}

.sec-heading {
    margin-bottom: 60px;
}

.sec-heading h6 {
    font-family: allura;
    font-weight: 900;
    font-size: 80px;
}

.single-box {
    border: 3px solid #ffffff;
    padding: 50px 30px 40px;
    border-radius: 20px;
    background: #ffffff;
}

.img-area {
    margin: 45px 0 20px;
}

.carousel-arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.carousel-arrow img {
    width: 52px;
    height: 52px;
    margin: 0px 0px 0px 32px;
}

.carousel-arrow button {
    border: 0;
    background-color: transparent;
}

.white-card-par {
    border-radius: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.313);
    height: 790px;
    width: 590px;
    padding: 64px;
}

.par-img {
    height: 96px;
    max-width: 96px;
    border-radius: 50%;
    display: block;
    margin: 40px auto 0;
    border: 2px solid #707070;
}

.par-quote {
    height: 38px;
    max-width: 45px;
    display: block;
    margin: 0 auto;
}

.par-text {
    padding: 0px 30px 0px 30px;
    margin-top: 56px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 36px;
}

.par-name {
    margin-top: 24px;
    font-size: 16px;
    font-weight: medium;
    text-align: center;
}

.meeting-card {
    margin-top: 40px;
    border-radius: 40px;
    background-color: #fdede7;
}

.single-box h4 {
    font-weight: 600;
    margin: 0;
    font-size: 25px;
}

.single-box {
    overflow: hidden;
}

.single-box .img-area {
    width: 30%;
    float: left;
    margin: 0;
}

.single-box .content {
    width: 70%;
    float: left;
    padding-left: 10px;
}

.single-box p {
    margin: 10px 0 25px;
    line-height: 2.3;
}

.testi-carousel-three .single-box {
    border: 0;
    padding: 0 50px;
}

.testi-carousel .owl-dots,
.clients-carousel .owl-dots,
.testi-carousel-three .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    text-align: center;
    width: 100%;
}

.testi-carousel .owl-dot,
.clients-carousel .owl-dot,
.testi-carousel-three .owl-dot {
    width: 16px;
    height: 16px;
    background-color: #ddd;
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    border-radius: 50%;
}

.testi-carousel .owl-dot.active,
.clients-carousel .owl-dot.active,
.testi-carousel-three .owl-dot.active {
    background-color: #008b97;
}

.dir-message p {
    font-size: 18px;
    line-height: 36px;
}

.dir-name p {
    font-size: 18px;
    font-weight: medium;
}

.mission-vision p {
    font-size: 30px;
}

.page-title {
    color: #008b97;
}

.title p {
    font-size: 30px;
    color: #000000;
}

.blob-staff-images {
    display: block;
    margin: auto;
    height: 400px;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(Assets/blob-big.png);
}

.blob-article-images {
    display: block;
    margin: auto;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(Assets/blob-big.png);
}

.blob-dir-image {
    height: 438px;
    display: block;
    margin: auto;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(Assets/blob.png);

}

.blob-dir-image-bg {
    height: 200px;
    margin-top: -700px;
    margin-left: 70px;
}

.blob-article-images-bg {
    height: 400px;
    margin-top: -850px;
    margin-left: 200px;
    transform: rotate(20%);
}

.blob-left{
    height: 556px;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(Assets/blob-left.png);
}

.blob-left-bg{
height: 287px;
margin-left: 360px;
margin-top: -670px;
}

.blob-right{
    margin-left: 20px;
    margin-top: 320px;
    height: 600px;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(Assets/blob-right.png);
}

.blob-right-bg{
height: 287px;
margin-left: -10px;
margin-top: -800px;
}

.blob-aboutus{
    height: 600px;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(Assets/blob-aboutus.png);
}

.color-block {
    padding: 50px 400px 50px 400px;
    width: 100%;
    height: 370px;
    color: black;
    background-color: #E5F3F4;
}

.mission-text {
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;
}

.vision-text {
    font-size: 40px;
    line-height: 80px;
}

.vision-color {
    color: #707070;
    font-size: 16px;
}

.para {
    font-size: 28px;
}

.read-more {
    line-height: 35x;
    border: 0;
    background-color: transparent;
    color: #008b97;
}

#more {
    display: none;
}

:root {
    --switches-bg-color: white;
    --switches-label-color: black;
    --switch-text-color: white;
    --switch-bg-color: #008b97;
}

.switches-container {
    width: 30rem;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    background: var(--switches-bg-color);
    line-height: 3rem;
    border-radius: 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: var(--switches-label-color);
}

.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 0.15rem;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
}

.switch {
    border-radius: 3rem;
    background: var(--switch-bg-color);
    height: 100%;
    text-align: center;
    color: #ffffff;
}

.switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: var(--switch-text-color);
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(100%);
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}